<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PDFAutomation">
	<!--<listeners> <listener class-name="com.qa.utility.Reporting" /> </listeners> -->

	<parameter name="FirstFileURL"
		value="https://live-datastaxd8.pantheonsite.io/sites/default/files/content/ebook/2020-04/9781492079514%20%282%29.pdf" />
	<parameter name="SecondFileURL"
		value="https://go.neo4j.com/rs/710-RRC-335/images/Graph-Databases-For-Dummies.pdf" />


	<test thread-count="5" name="Test">
		<classes>
			<!--<class name="com.qa.testscript.TestBase" /> <class name="com.qa.testscript.TC01_PDFTextReaderandValidator"/> 
				<class name="com.qa.testscript.TC03_PDFMultiRangePageSplitorAndValidator"/> 
				<class name="com.qa.testscript.PdfValidation"/> <class name="com.qa.testscript.PdfValidation"/> -->
			<class name="com.qa.testscript.TestBase2" />
			<class name="com.qa.testscript.TC01_PDFTextReaderandValidator" />
			<class name="com.qa.testscript.TC02_PDFPageSplitorAndValidator" />
			<class name="com.qa.testscript.TC04_PDFPagesCount" />
			<class name="com.qa.testscript.TC05_PDFMergeTwoFiles" />



		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
